{% load static %}
{# Variables used in Vue components #}

<script type='text/javascript'> 
    {% if user.is_authenticated %}

    const navLinks = [
        { name: 'home', meta: { isVisible: true, displayName: 'Home' }, path: "/", component: () => import(staticFiles + "vue/dataset-list.js")},
        { name: 'tasks', meta: { isVisible: true, displayName: 'Tasks' }, path: '/tasks', component: () => import(staticFiles + "vue/dataset-render-task-list.js")},
        { name: 'logout', meta: { isVisible: true, displayName: 'Logout' }, path: "/logout", component: {created: function () {window.location.replace('/logout')}} },
        { name: 'dataset', meta: { isVisible: false }, path: '/dataset/:id', component: () => import(staticFiles + "vue/dataset-render.js"), props: true },
        { name: 'editor', meta: { isVisible: false }, path: '/editor/:id?', component: () => import(staticFiles + "vue/dataset-editor.js"), props: true },
        { name: '404', meta: { isVisible: false }, path: '/404', component: () => import(staticFiles + "vue/404.js") },
        { name: '500', meta: { isVisible: false }, path: '/500', component: () => import(staticFiles + "vue/500.js") },
    ]

    {% else %}

    const navLinks = [
        { name: 'login', meta: { isVisible: true, displayName: 'Log In' }, path: "/login", component: () => import(staticFiles + "vue/login.js") },
        { name: 'register', meta: { isVisible: true, displayName: 'Register' }, path: "/register", component: () => import(staticFiles + "vue/register.js") },
        { name: '404', meta: { isVisible: false }, path: '/404', component: () => import(staticFiles + "vue/404.js") },
        { name: '500', meta: { isVisible: false }, path: '/500', component: () => import(staticFiles + "vue/500.js") },
    ]

    {% endif %}
</script>
