{% load static %}

{# Vue templates #}

{# Load only needed Vue templates based on auth #}
{% if not user.is_authenticated %}
    {% include "visualizer/vue-login.html" %}
    {% include "visualizer/vue-register.html" %}
{% else %}
    {% include "visualizer/vue-dataset-list.html" %}
    {% include "visualizer/vue-dataset-editor.html" %}
    {% include "visualizer/vue-dataset-render.html" %}
    {% include "visualizer/vue-dataset-render-task-list.html" %}
{% endif %}

{% include "visualizer/vue-navigation.html" %}
{% include "visualizer/vue-dropdown-select.html" %}
{% include "visualizer/vue-custom-errors.html" %}
