{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Edat {% endblock %}</title>
        <link rel="stylesheet" type="text/css" 
              href="{% static 'visualizer/css/semantic/dist/semantic.min.css' %}">
        <link href="{% static 'visualizer/css/style.css' %}" rel="stylesheet">
        <script src="{% static 'visualizer/css/semantic/dist/semantic.min.js' %}"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-router"></script>
    </head>
    <body>
        <div id="app">
            <navbar></navbar>
            <transition name="fade" mode="out-in">
                <router-view :key="$route.fullPath"></router-view>
            </transition>
        </div>

        {# Django variables section #}
        {% block _variables %}{% endblock %}
        {% include "visualizer/_variables.html" %}

        {# Vue routes section #}
        {% block _routes %}{% endblock %}
        {% include "visualizer/_routes.html" %}

        <script src="{% static 'visualizer/app.js' %}"></script>

        {% block templates %}{% endblock %}
        {% include "visualizer/_templates.html" %}


    </body>
</html>
