div#site-header.item {
    padding-right: 0 !important;
}
div#site-subheader.item {
    padding-left: 0 !important;
}

div#home-container {
    form.ui.form {

        padding-top: 4em;
		display: flex;
		justify-content: center;

    }

	div#dataset-table {
		width: 80%;

		
		form#search-form {
			display: flex;
			justify-content: left;
		}
		button {
			padding: 7px 15px !important;
		}
		table {
			border: 1px solid #444;
            .datasetListRow:hover {
                background-color: lightyellow;
                cursor: pointer;

            }
			thead { 
				tr { 
					th{ 
						&:last-child {
							width: 12em;	
						}
						color: lightgray;
						background-color: #444;
						border-radius: 0;
						border: 0;
					}
				}
			}
		}
	}

    div.field {
        display: flex;
        align-items: center;

        input#upload-csv-file {
            display: none;
        }

        label#upload-csv-file-label {
            display: inline-block;
            color: #444;
            font-weight: bold;
            margin-left: 1em;
            font-size: 1rem;
            margin-right: 1em;
            margin-left: 1em;
            margin-bottom: 0;
        }

        div#pre-label-text {
            display: inline-block;
            color: #444;
            font-weight: bold;
            min-height: 1em;
            font-size: 1rem;
            margin-right: 1em;
        }
        
    }

}
