.hidden {
    display: none !important;
}

.column-name-dropdown {
    margin-bottom: 1em;
    margin-right: 0.5em;
}

#csv-config-menu {
    position: absolute;
    background-color: #fff;
    height: 23em;
    width: 40em;
    top: 20em;
    left: calc(50% - 20em);
    border: #dedede 3px solid;
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 3px 30px 5px #444;

    div#csv-config-menu-header {
        margin-bottom: 2em;
        margin-top: -1em;
    }

    div.ui.labeled.input {
        width: 60%;
        margin-bottom: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 2em;

    }

    #csv-config-menu-buttons {
        margin-top: 2em;
    }
}

.dataset-render-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    
    h1 {
        margin: 0;
    }
    
    img {
        margin-right: 2em;
        max-width: 80%;
    }

}

.dataset-editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    
    h1 {
        margin: 0;
    }

    p {
        margin-right: 0.3em;
    }

    a {
        cursor: pointer;
    }
}

#editor-comment {
    margin-bottom: 1em;
    width: 50%;
}

div#site-header.item {
    padding-right: 0 !important;
}
div#site-subheader.item {
    padding-left: 0 !important;
}

div#home-container {

    .message {
		display: flex;
		justify-content: center;
		width: 80%;
    }

    form.ui.form {
        padding-top: 4em;
		display: flex;
		justify-content: center;
    }

	div#dataset-table {
		width: 80%;
		
		form#search-form {
			display: flex;
			justify-content: left;
		}
		button {
			padding: 7px 15px !important;
		}
		table {
			border: 1px solid #444;
            .datasetListRow:hover {
                background-color: lightyellow;
                cursor: pointer;

            }
			thead { 
				tr { 
					th{ 
						&:last-child {
							width: 12em;	
						}
						color: lightgray;
						background-color: #444;
						border-radius: 0;
						border: 0;
					}
				}
			}
		}
	}

    div.field {
        display: flex;
        align-items: center;

        input#upload-csv-file {
            display: none;
        }

        label#upload-csv-file-label {
            display: inline-block;
            color: #444;
            font-weight: bold;
            margin-left: 1em;
            font-size: 1rem;
            margin-right: 1em;
            margin-left: 1em;
            margin-bottom: 0;
        }

        div#pre-label-text {
            display: inline-block;
            color: #444;
            font-weight: bold;
            min-height: 1em;
            font-size: 1rem;
            margin-right: 1em;
        }
        
    }
}

div#data-table {

    overflow-x: scroll;
    border-right: 1px solid rgba(34,36,38,.15);

    table {

        th.type-dropdown-cell {

            margin: 0;
            padding: 0;
            height: 3em;

            select {
                margin: 0;
                padding-top: 2px;
                text-align: center;
                width: 97%;
                height: 100%;
                background: #f9fafb !important;
                border: 0;
                /* remove the original arrow */
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                /* no standardized syntax available, no ie-friendly solution available */
                option {
                    text-align: center;
                    line-height: 2em;
                }
            }
            select + i.icon {
                float: right;
                margin-top: -2.2em;
                margin-right: 10px;
                /* everything after this is just to cover up the original arrow */
                /* (for browsers that don't support the syntax used above) */
                background-color: transparent;
                color: black !important;
                padding-right: 5px;
            }
            i.icon {
                z-index: 100;
                appearance: none;
                position: relative;
                pointer-events: none;
            }

        }
    }
}
